@* @page *@
@using WebApplication2.Models.Driver
@model WebApplication2.Models.Driver.DriverModel

<br>
<br>
<div class="text-center">
	<img src="~/img/profilee.jpg" alt="user" width=650px height=150px>
	<br><br>
</div>

<body>
	<form asp-controller="Home" asp-action="AddDriver" method="post">
		<div class="row">
			@* third table *@
			<div class="col-xl-0 col-lg-0 col-md-6 col-sm-6 col-6">
				<div class="card3 h-100">
					<div class="row gutters">

						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

							<br><br>
							<h4 class="text-trip-1">CAR DETAILS</h4>
						</div>
						<br><br>

						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<br>
									<br>
									<label for="Surname">Car Brand</label>
									<td><input asp-for=CarBrand type="text" class="form-control" id="CarBrand" placeholder="Enter car brand" /></td>
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<br>
									<br>
									<label for="Name">Car Model</label>
									<td><input asp-for=CarModel type="text" class="form-control" id="Model" placeholder="Enter car model" /></td>
									<input asp-for="UserID" type="text" class="unseen" id="id" />
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<br>
									<br>
									<label for="Surname">Registration Number</label>
									<td><input asp-for=CarNumber type="text" class="form-control" id="RegistrationNumber" placeholder="Enter car registration number" /></td>
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<br><br>
								<label for="address">Description</label>
								<input asp-for=CarDescription type="text" class="form-control" id="CarDescription" placeholder="Enter description">
							</div>
						</div>
						<br><br>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="user-confirm">
									<br><br>
									<button type="submit" id="submit" name="submit" class="btn btn-user">Add</button>
								</div>
							</div>
							<img src="~/img/greencar.jpg" alt="user" width=100px height=350px>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</body>

